<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head>
    <title>Home</title>
    <script th:src="@{sockjs.min.js}"></script>
    <script th:src="@{stomp.min.js}"></script>
    <script th:src="@{jquery.js}"></script>
</head>
<body>
<p>
    聊天室
</p>

<form id="ycyForm">
    <label>
        <textarea rows="4" cols="60" name="text"></textarea>
    </label>
    <input type="submit"/>
</form>
<input type="button" value="离开" onclick="exit()"/>
<script th:inline="javascript">
    // 发送消息
    $('#ycyForm').submit(function(e){
        e.preventDefault();
        var text = $('#ycyForm').find('textarea[name="text"]').val();
        sendSpittle(text);
    });

    //建立套接字
    var sock = new SockJS("/endpointChat"); //1
    var stomp = Stomp.over(sock);
    stomp.connect('guest', 'guest', function(frame) {
        stomp.subscribe("/user/queue/notifications", handleNotification);//2
    });


    //将接收到的消息显示出来
    function handleNotification(message) {
        $('#output').append("<b>Received: " + message.body + "</b><br/>")
    }
    //发送消息
    function sendSpittle(text) {
        stomp.send("/chat", {}, text);//3
    }
    //退出聊天室
    function exit(){
        sock.close();
        window.location.href="/login";
    }
    $('#stop').click(function() {sock.close()});
</script>

<div id="output"></div>
</body>
</html>